<script type="text/javascript">
$(function() {
    var input = $('#api_key'),
        query = window.location.search.substring(1).split('&'),
        regex = /([^=]+)=(.*)/i,
        index, temp, search = {};
    for (index in query) {
        if (!query.hasOwnProperty(index)) {
            continue;
        }

        temp = query[index].match(regex);
        search[temp[1]] = temp[2];
    }
    setTimeout(function() {
        input.val(search.api_key);
    }, 500);
})
</script>
 <link href="/bang.css" rel="stylesheet" type="text/css" />
<div class="motd">
    Welcome to the Bang API.
</div>
